
<div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-auto">
        <h1 class="text-primary">Certificaciones</h1>
    </div>
</div>
<div class="row">
    <div class="col-4 col-md-4">
        <div class="card">
            <spam ><img src="/imagenes/noLogeados/Fundamentos de Programacion.png" class="img-thumnails" width="35%"></spam>
            <div class="card-body">
                <h5 class="text-center">Fundamentacion de la programacion</h5>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                ¿Que Aprendi?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Reseña
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                ¿Cual es el siguiente paso?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-4 col-md-4">
        <div class="card align-content-center">
            <spam><img src="/imagenes/noLogeados/MvcNet7.png" class="img-thumnails align-content-center" width="35%"></spam>
            <div class="card-body">
                <h5 class="text-center">.NET7 MVC Master</h5>
                <div class="accordion accordion-flush" id="accordionFlushExample1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne1" aria-expanded="false" aria-controls="flush-collapseOne">
                                ¿Que Aprendi?
                            </button>
                        </h2>
                        <div id="flush-collapseOne1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample1">
                            <div class="accordion-body">Aprendi el manejo de <code>.NET 7, Entity Frameworks, Modelo Vista Controlador y Blazor</code>. El manejo de proyectos y entidades.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo1" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Reseña
                            </button>
                        </h2>
                        <div id="flush-collapseTwo1" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample1">
                            <div class="accordion-body">Lamentablemente me encontre con el curso pasando de Netcore 3.5 a Net7 entonces tuve que adaptarme y aprender como trabajaban las dos maneras, tuve inconvenientes con el Entity y La manera
                                de generar Buildings en .Start o en .Program, quiero aclarar que fue excelente para acostumbrarme a buscar multiples soluciones.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree1" aria-expanded="false" aria-controls="flush-collapseThree">
                                ¿Cual es el siguiente paso?
                            </button>
                        </h2>
                        <div id="flush-collapseThree1" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample1">
                            <div class="accordion-body">Despues de experimentar con las herramientas de microsoft <code>.Net 7 Entity Framework</code> Tengo muchas ganas de avanzar con un proyecto relacionado a esta indole..</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
