<div class="row">
    &nbsp;
    <div class="col- align-items-center justify-content-center">
        <button type="submit" class="btn btn-primary form-control w-100 ">Crear</button>
    </div>
    &nbsp;
    <div class="col- align-items-center justify-content-center">
       <a asp-action="Index" class="btn btn-success form-control w-100 ">Volver a Lista</a> 
    </div>

</div>