@page
@model LockoutModel
@{
    ViewData["Title"] = "Cuenta Bloqueado";
}

<header>
    <h1 class="text-danger text-center">@ViewData["Title"]</h1>
    <p class="text-danger text-center">Su cuenta se encuentra bloqueada, hable con el administrador...</p>
</header>
